/* タブレット仕様 */
@media all and (max-width: 1000px){
    
    
}
/* スマホ仕様 */
@media all and (max-width: 670px){

}



html, body,
ul, ol, li,
h1, h2, h3, h4, h5, h6, p, div {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Hiragino Kaku Gothic ProN W3', sans-serif;
}

li {
  list-style: none;
}
/* ここからヘッダー */
header {
    height:65px;
    background: rgba(34, 49, 52, 0.9);
    position: fixed;
    z-index:10;
    width: 100%;
}

.header-container{
    width:1170px;
    margin: 0 auto;
}
header img{
    margin-top:20px;
}

header a{
    float: right;
    background: rgba(255,255,255,0.3);
    line-height: 65px;
    padding: 0 25px;
    color:white;
    text-decoration: none;
    transition: all 0.5s;
}

header a:hover{
    background: rgba(255,255,255,0.6);
}


/* ここからトップ */
.top-wrapper{
    background-image: url(https://prog-8.com/images/html/advanced/top.png);
    padding:180px 0 100px 0;
    text-align: center;
    background-size: cover;
    color: white;
}

.top-container{
    width:1170px;
    margin:0 auto;   
}

.top-container h1{
    font-size: 45px;
    font-weight: bold;
    letter-spacing: 5px;
    opacity: 0.7;
}
.top-container p:nth-of-type(1){
    opacity: 0.7;
}

.top-container a{
    display:inline-block;
    text-decoration: none;
    padding:8px 24px;
    cursor: pointer;
    color: white;
}

.top-container a:nth-of-type(1) {
    background:#239b76;
    opacity:0.8;
    margin-top: 30px;
}
.top-container a:nth-of-type(2) {
    background: #3b5998;
    opacity:0.8; 
    margin-right: 10px;   
}
.top-container a:nth-of-type(3) {
    background:#55acee;
    opacity:0.8;    
}

.top-container a:hover{
    opacity: 1;
}

/* ここからレッスン内容 */
.lessons{
    height:580px;
    background: #f7f7f7;
    text-align:center;
}

.lessons > p{
    color:#5f5d60;
    padding:80px 0 50px 0;
    font-weight: normal;
}

.lessons-container{
    width: 1170px;
    margin: 0 auto;
    display: flex;

}
.lesson{
    width: 25%;
    position: relative
}

.lesson-container p{
    font-size: 13px;
    color:#b3aeb5;
    margin-top:15px;
}

.lesson-container{
    width: 80%;
    margin: 0 auto;
}

.lesson > p{
    color: white;
    position: absolute;
    top:90px;
    left:0;
    right:0;
}

.message {
    width: 1170px;
    margin: 0 auto;
    padding: 80px 0;
    text-align: center;
}

.btn{
    background: #5dca88;
    opacity: 0.8;
    margin-top: 50px;
    padding: 15px 40px;
    box-shadow: 0px 7px #1a7940;
    display: inline-block;
    cursor: pointer;
    color: white;
    position: relative;
}

.btn:active{
   
    top: 7px;
    box-shadow: 0 0 ;
}

footer{
    border-top: 1px solid #eee;
}

footer div{
    width:1170px;
    margin: 30px auto;
}

footer div p{
    font-size: 12px;
}

